// .button {
//     display: inline-block;
//     padding: 20px 60px;
//     font-family: "Segoe UI";
//     font-size: 20px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: normal;
//     border-radius: 10px;
//     background: #000;
//     color: #fff;
//     @media screen and (max-width: 992px) {
//         font-size: 16px;
//     }
    
//     &:hover {
//         background: lighten( $color-1, 10%) ;
//         color: #fff;
//     }

//     &__color-blue {
//         background: #0082E4;
//         color: #fff;

//         @media screen and (max-width: 992px) {
//             padding: 20px 60px;
//         }
//         &:hover {
//             background: lighten( #0082E4, 10%);
//         }
//     }

// }