body {
    padding: 0;
    margin: 0;

    color: var(--TXT, #252525);
    
    font-family: "Segoe UI";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    background-color: #fff;
}

*{
    box-sizing: border-box;
    outline: none!important;
}

a{
    text-decoration: none;
}

svg {
    width: 100%;
    height: 100%;
    path {
        fill: currentColor;
    }
}

button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: 0;
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

p{
    margin: 0;
}
img {
    max-width: 100%;
    vertical-align: top;
}

a {
    text-decoration: none!important;
}

.main {
    filter: blur(0px);
    transition: filter .3s;
    overflow: hidden;
    &.blur {
        filter: blur(4px);
    } 
}

.posr {
    position: relative;
}