.format { 
    &__container {
        display: flex;
        gap: 10px;
        flex-direction: column;
        @include media-breakpoint-up(sm) {
            gap:15px;
        }
        @include media-breakpoint-up(md) {
            gap:25px;
        }
        @include media-breakpoint-up(lg) {
            gap:35px;
        }
        @include media-breakpoint-up(xl) {
            //gap:15px
        }
        @include media-breakpoint-up(xxl) {
            //gap:15px
        }
    }
    &__item {
        border-radius: 30px;
        background: linear-gradient(148deg, rgba(64, 188, 91, 0.69) 11.59%, #FFF 57.65%, #FFF 88.57%);
        box-shadow: 4px 4px 100px 0 rgba(38, 50, 56, 0.10);

        display: flex;
        flex-direction: column;
        padding: 20px ;

        @include media-breakpoint-up(sm) {
            padding: 45px 60px;
        }

        @include media-breakpoint-up(md) {
            padding: 55px 15px

        }

        @include media-breakpoint-up(lg) {
            padding: 65px 15px
        }

        @include media-breakpoint-up(xl) {
            padding: 65px 32px
        }

        @include media-breakpoint-up(xxl) {
            padding: 65px 35px
        }

        &--title { 
            color: #000;
            /* h2 - 320px */
            //font-family: Urbanist;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 10px;

            @include media-breakpoint-up(sm) {
                font-size: 32px;
                margin-bottom: 20px;
            }
            @include media-breakpoint-up(md) {
                margin-bottom: 10px;
            }

            @include media-breakpoint-up(xl) {
                font-size: 38px;
                margin-bottom: 20px;
            }
            @include media-breakpoint-up(xxl) {
                font-size: 50px;
                margin-bottom: 20px;
            }
        }

    }
}