.format { 
    padding: 1rem 0;
    &__container {
        display: flex;
        gap: 10px;
        flex-direction: column;
        @include media-breakpoint-up(sm) {
            gap:15px;
        }
        @include media-breakpoint-up(md) {
            gap:25px;
        }
        @include media-breakpoint-up(lg) {
            gap:35px;
        }
        @include media-breakpoint-up(xl) {
            //gap:15px
        }
        @include media-breakpoint-up(xxl) {
            //gap:15px
        }
    }
    &__item {
        border-radius: 30px;
        background: linear-gradient(148deg, rgba(64, 188, 91, 0.69) 11.59%, #FFF 57.65%, #FFF 88.57%);
        box-shadow: 4px 4px 100px 0 rgba(38, 50, 56, 0.10);

        display: flex;
        flex-direction: column;
        padding: 20px ;

        @include media-breakpoint-up(sm) {
            padding: 45px 60px;
        }

        @include media-breakpoint-up(md) {
            padding: 55px 15px

        }

        @include media-breakpoint-up(lg) {
            padding: 65px 15px
        }

        @include media-breakpoint-up(xl) {
            padding: 65px 32px
        }

        @include media-breakpoint-up(xxl) {
            padding: 65px 35px
        }

        &--title { 
            color: #000;
            /* h2 - 320px */
            //font-family: Urbanist;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 10px;
            text-align: center;

            @include media-breakpoint-up(sm) {
                font-size: 32px;
                margin-bottom: 20px;
            }
            @include media-breakpoint-up(md) {
                margin-bottom: 10px;
                text-align: left;
            }

            @include media-breakpoint-up(xl) {
                font-size: 38px;
                margin-bottom: 20px;
            }
            @include media-breakpoint-up(xxl) {
                font-size: 50px;
                margin-bottom: 20px;
            }
        }

        &--descr  {
            @include media-breakpoint-up(md) {
                text-align: left;
            }
        }

        &--btn { 
            display: block;
            border-radius: 20px;
            background: var(--Cta, #28B446);
            text-align: center;
            width: 172px;
            max-width: 100%;
            padding: 11px 0;
            margin-top: 20px;

            color: #FFF;

            /* btn - 320 */
            font-family: Manrope;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 18px */
            letter-spacing: 0.06px;
            margin-left: auto;
            margin-right: auto;

            @include media-breakpoint-up(sm) {
                width: 224px;
                font-size: 16px;
                padding: 15px 0;
            }
            @include media-breakpoint-up(md) {
                width: 220px;
                font-size: 16px;
                margin-left: 0;
                margin-right: 0;
            }

            @include media-breakpoint-up(xxl) {
                width: 245px;
            }

        }
        .col-12 { 
            margin-top: 22px;
            &:first-child {
                margin-top: 0;
            }
        }

        &:nth-child(2n-1) {
            .col-12 {
                @include media-breakpoint-up(md) {
                    order: 2;
                    align-self: ;
                }
                &:nth-child(2) {
                    @include media-breakpoint-up(md) {
                        order: 1;
                    }
                }
            }
        }

        &:nth-child(2n-1) .col-12  &--title,
        &:nth-child(2n-1) .col-12  &--descr {
            @include media-breakpoint-up(md) {
                text-align: right;
            }
        }
        &:nth-child(2n-1) .col-12  &--btn {
            @include media-breakpoint-up(md) {
                margin-left: auto;
            }
        }
        

    }
}