@mixin respond {
  @content;
}

@mixin respond-sm {
    @media (min-width: #{$breakpoint-sm}) {
      @content;
    }
}

@mixin respond-md {
  @media (min-width: #{$breakpoint-md}) {
    @content;
  }
}
@mixin respond-lg {
    @media (min-width: #{$breakpoint-lg}) {
      @content;
    }
}