.safe { 
    padding-bottom: 60px;
    @include media-breakpoint-up(sm) {
        padding: 50px 0;
    }
    @include media-breakpoint-up(md) {
        padding: 70px 0;
    }
    @include media-breakpoint-up(lg) {
        padding: 100px 0;
    }
    @include media-breakpoint-up(xxl) {
        padding: 150px 0;
    }
    &__list {
        @include media-breakpoint-up(lg) {
            padding-left: 50px;
        }
        @include media-breakpoint-up(xxl) {
            padding-left: 40px;
        }
        &--title {
            color: #000;

            /* h3 -320 */
            //font-family: Urbanist;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 27px */
            letter-spacing: 0.09px;
            margin-bottom: 22px;
            @include media-breakpoint-up(sm) {
                font-size: 22px;
                text-align: center;
            }

            @include media-breakpoint-up(lg) {
                font-size: 28px;
                text-align: left;
                margin-bottom: 19px;
            }

        }

        &--item {
            color: #000;

            /* p 320 */
            font-family: Manrope;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 18px */
            letter-spacing: 0.06px;
            display: flex;
            align-items: center;
            strong {
                color: #000;
                /* h2 - 320px */
                //font-family: Urbanist;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                @include media-breakpoint-up(sm) {
                    font-size: 32px;
                }
            }

            @include media-breakpoint-up(sm) {
                font-size: 15px;
            }
            @include media-breakpoint-up(lg) {
                font-size: 18px;
            }
        }

        ul {

            li {
                padding: 6px 0 ;
                margin-bottom: 13px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }

    &__btn {
        width: 332px;
        max-width: 100%;
    }

    &__title{
        color: #000;
        /* h2 - 320px */
        //font-family: Urbanist;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 10px;
        text-align: center;

        @include media-breakpoint-up(sm) {
            font-size: 32px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 38px;
        }
        @include media-breakpoint-up(xxl) {
            font-size: 42px;
        }
    }

    &__descr {
        color: #000;
        text-align: center;

        /* p 320 */
        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
        letter-spacing: 0.06px;
        margin-bottom: 20px;

        @include media-breakpoint-up(sm) {
            font-size: 15px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 18px;
        }
    }

    &__icon {
        color: transparent;
        max-width: 70px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        @include media-breakpoint-up(sm) {
            margin-bottom: 30px;
            max-width: 120px;
        }

        @include media-breakpoint-up(md) {
            max-width: 130px;
        }

        @include media-breakpoint-up(lg) {
            max-width: 106px;
        }

        @include media-breakpoint-up(xl) {
            max-width: 150px;
        }

    }

}