.top_block {
    //background: linear-gradient(to bottom, rgba(64, 188, 91, 0.69) 11.59%, #FFF 57.65%, #FFF 88.57%);
    background: linear-gradient(148deg, rgba(64, 188, 91, 0.69) 11.59%, rgba(255, 255, 255, 0.00) 57.65%, rgba(255, 255, 255, 0.00) 88.57%);
    padding-top: 23px;

    &--place { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-top: 20px;
        gap: 10px;
    }

    &--app {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        @include media-breakpoint-up(md) { 
            flex-direction: row;
        }
    }

    &--title { 
        color: #000;
        //font-family: 'Urbanist';
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        
        @include media-breakpoint-up(sm) { 
            font-size: 28px;
        }
        @include media-breakpoint-up(md) { 
            font-size: 38px;
        }
        @include media-breakpoint-up(lg) { 
            font-size: 45px;
        }
        @include media-breakpoint-up(xl) { 
            font-size: 55px;
        }
        @include media-breakpoint-up(xxl) { 
            font-size: 65px;
        }
    }

    &--subtitle { 
        color: #000;
        font-family: 'Manrope';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
        letter-spacing: 0.06px; 
        
        @include media-breakpoint-up(sm) { 
            font-size: 15px;
        }
        @include media-breakpoint-up(xl) { 
            font-size: 18px;
        }
    }
}