.wywi { 
    padding: 40px 0;

    &__items {
        padding: 28px 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;

        @include media-breakpoint-up(sm) {
            gap: 30px;
        }

        @include media-breakpoint-up(md) {
            flex-direction: row;
            gap: 35px 65px;
            align-items: center;
            justify-content: center;
        }

        @include media-breakpoint-up(lg) {
            gap: 55px 135px;
        }
        @include media-breakpoint-up(xxl) {
            gap: 0;
            flex-wrap: nowrap;
        }
    }

    &__item { 
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include media-breakpoint-up(md) {
            width: 310px;
        }
        @include media-breakpoint-up(xxl) {
            //width: auto;
            flex: 1 1 auto;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;

            @include media-breakpoint-up(md) {
                justify-content: flex-start;
                align-items: flex-start;
                padding-left: 18px;
                padding-bottom: 18px;
            }

        
        }
        &--icon { 
            width: 60px;
            height: 60px;
            border-radius: 20px;
            background: #F4FFE6;
            box-shadow: 4px 4px 18px 0 rgba(0, 0, 0, 0.13);
            position: relative;

            @include media-breakpoint-up(sm) {
                width: 98px;
                height: 98px;
            }

            @include media-breakpoint-up(md) {
                width: 87px;
                height: 87px;
                margin-bottom: 33px;                
            }

            @include media-breakpoint-up(xxl) {
                width: 97px;
                height: 97px;
            }

            svg {
                position: absolute;
                top: 0;
                bottom: 0;
                left: -10px;
                margin: auto;
                fill: #28B446;
                stroke: #28B446;
                color: #28B446;
                width: 40px;
                height: 40px;

                @include media-breakpoint-up(sm) {
                    width: 67px;
                    height: 67px;
                    left: -18px;
                }

                @include media-breakpoint-up(md) {
                    width: 52px;
                    height: 52px;
                }
            }
        }
        &:nth-child(2n) &--icon{
            background: #ECECEC;
            box-shadow: 4px 4px 18px 0 rgba(0, 0, 0, 0.13);
        }

        &--title { 
            color: #000;
            /* h4 - 320 */
            //font-family: Manrope;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 22.5px */
            letter-spacing: 0.075px;

            @include media-breakpoint-up(sm) {
                font-size: 18px;
            }

            @include media-breakpoint-up(md) {
                text-align: left;
            }

            @include media-breakpoint-up(lg) {
                font-size: 24px;
            } 
        }

        &--descr { 
            color: #000;
            text-align: center;

            /* p 320 */
            //font-family: Manrope;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 18px */
            letter-spacing: 0.06px;

            @include media-breakpoint-up(sm) {
                font-size: 15px;
            }

            @include media-breakpoint-up(md) {
                text-align: left;
            }

            @include media-breakpoint-up(lg) {
                font-size: 18px;
            } 
        }
    }
}