.footer {
    background: var(--secondary, #191F18);
    padding-top: 50px;

    &__menu ul{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        flex-direction: column;
        a {
            border-radius: 50px;
            border: 1px solid var(--Cta, #28B446);

            color: #FFF;
            text-align: center;

            /* btn - 320 */
            font-family: Manrope;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 18px */
            letter-spacing: 0.06px;
            min-width: 100px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 27px;

            &:hover{
                background-color: var(--Cta, #28B446);
            }
        }
    }

    &__text { 
        color: #D9D9D9;
        text-align: center;

        /* p 320 */
        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
        letter-spacing: 0.06px;
    }

    .logo{
        margin: 22px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}